<!DOCTYPE html>
<html>
    <head>
        <title>product360 prototype</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/selectCustom.css">
        <link rel="stylesheet" href="/stylesheets/cardCustom.css">
        <link rel="stylesheet" href="/stylesheets/originalBootCustom.css">
        <link rel="stylesheet" href="/stylesheets/modalCustom.css">
        <link rel="stylesheet" href="/stylesheets/datepicker.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    </head>
    <body>
        <div class="container-fluid"> 
            <div class = "row topBar">
                <div class="col-2">
                    <div class="logoSpace">
                        <img src = "/images/topBarImages/logo-space.png" style="margin-top:3px">   
                    </div>
                </div>
                <div class="col-6 d-flex align-content-center flex-wrap">
                    <div class= "searchBar row d-flex align-content-center flex-wrap mw-100 mh-100  " >
                        <div class="col-1">
                            <a href="#"><img src="/images/topBarImages/searchIcon.png"> </a>
                        </div>
                        <!-- <input class="itemSearch col-10" type="text" name="itemSearch" placeholder="상품 검색"> -->
                        <button class="itemSearch col-10 d-flex align-content-center flex-row flex-wrap" name="searchItemModal" onClick="makeCard()"> 상품검색 </button>
                        <!-- <div class="col-1">
                            <a href="#"><img src="/images/topBarImages/settingIcon.png"></a>
                        </div> -->
                        <button class="col settingBtn" data-toggle="modal" data-target="#searchItemModal"> 
                            <img class="settingBtnImg" src="/images/topBarImages/settingIcon.png">
                        </button>
                    </div>
                </div>
                <div class="col d-flex align-content-center flex-row-reverse flex-wrap">
                    <div class="topBarRightSpace img-container" style="padding-top:8px;">
                        <a href="#"><img src="/images/topBarImages/thumbnail.png"></a>
                    </div>
                    <div class="topBarRightSpace img-container" style="padding-top:12px">
                        <a href="#"><img src="/images/topBarImages/bell.png"></a>
                    </div>
                    <div class="qnaBtn float-right" style="padding-top:5px">
                        <a href="#" class="btn btn-primary btn-lg active" role="button"style="
                            font-family: SFProText;
                            font-size: 15px;
                            font-weight: 600;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.47;
                            letter-spacing: -0.4px;
                            color: #ffffff;">
                            <img src="/images/topBarImages/pencil.png" style="margin-bottom: 2px;">문의/개선사항 접수
                        </a>
                    </div>
                    <div class="toDoList col-4" style="padding-top:15px">
                        <a href="#">배포 및 To Do List</a>
                    </div>
                </div>
            </div> 
        </div>

        <!----Modal related-->
        <!-- data-backdrop="false" -->
      
        <div class="modal fade" id="searchItemModal" tabindex="-1" role="dialog" aria-labelledby="searchItemModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-body modalBackground"  style="padding:10px 10px 10px 10px">
                        <div class="container-fluid" style="padding: 0px 0px 0px 0px">
                            <!-- <div class="row" style="margin-top:10px"> -->
                               
                                <table class="table modalTableStyle modalTableBorderStyle">
                                    <tbody>
                                        <tr>
                                            <th style="border-color: #ffffff; width:200px">
                                                <label for="기준" class="modalBasicFont mt-2 width:100px;">기준</label>
                                            </th>
                                            <td style="border-color: #ffffff; width:300px;">
                                                <div class="mt-2">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input id="isSalesRank" type="radio" name="order" value="isSalesRank" checked="checked" class="custom-control-input">
                                                        <label for="isSalesRank" class="custom-control-label"> 실적기준 </label>
                                                        <span id="bastCategory" class="ml-10">
                                                            <select id="category" name="category" style="font-size: 14px;" onchange="callData()">
                                                                <option value="r01">전체</option>
                                                                <option value="r02">TV 쇼핑</option>
                                                                <option value="r03">백화점</option>
                                                                <option value="r04">패션의류/속옷</option>
                                                                <option value="r05">출산/유아동</option>
                                                                <option value="r06">뷰티</option>
                                                                <option value="r07">스포츠/레저</option>
                                                                <option value="r08">가구/침구/홈데코</option>
                                                                <option value="r09">식품</option>
                                                                <option value="r10">가전/디지털</option>
                                                                <option value="r11">반려동물</option>
                                                                <option value="r12">여행/티켓</option>
                                                                <option value="r13">잡화/슈즈/보석</option>
                                                                <option value="r14">명품/해외직구</option>
                                                                <option value="r15">생활/주방</option>
                                                                <option value="r16">도서/사무용품</option>
                                                            </select>
                                                        </span>
                                                    </div>

                                            </td>
                                            <td style="border-color: #ffffff; width:300px">
                                                <input id="isSalesRank" type="radio" name="order" value="isSalesRank" checked="checked" class="custom-control-input">
                                                <div class="custom-control custom-radio custom-control-inline">        
                                                    <label for="isNewProduct" class="custom-control-label mt-2">
                                                        등록기준
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-color: #ffffff;" class="d-flex align-content-center">
                                                <label for="기간" class="modalBasicFont mt-2">기간</label>
                                            </td>
                                            <td style="border-color: #ffffff;">
                                                <span id="dateArea">
                                                    <input class="form-control" id="dates" type="text" name="dates" autocomplete="on" placeholder="기간을 선택 하세요" value="기간을 선택 하세요">
                                                    </input>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-color: #ffffff;"  class="d-flex align-content-center">
                                                <label for="MDID/MD명" class="modalBasicFont mt-2">MDID/MD명</label>
                                            </td>
                                            <td style="border-color: #ffffff;"  class="">
                                                    <input class="form-control" id="mdId" type="text" name="mdId" autocomplete="on" placeholder="기간을 선택 하세요" value="기간을 선택 하세요">      
                                            </td>
                                            <td style="border-color: #ffffff;"  class="">
                                                <input class="form-control" id="mdId" type="text" name="mdId" autocomplete="on" placeholder="기간을 선택 하세요" value="기간을 선택 하세요">      
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-color: #ffffff;"  class="d-flex align-content-center">
                                                <label for="업체코드/업체명" class="modalBasicFont mt-2">업체코드/업체명</label>
                                            </td>
                                            <td style="border-color: #ffffff;"  class="">
                                                    <input class="form-control" id="mdId" type="text" name="mdId" autocomplete="on" placeholder="기간을 선택 하세요" value="기간을 선택 하세요">      
                                            </td>
                                            <td style="border-color: #ffffff;"  class="">
                                                <input class="form-control" id="mdId" type="text" name="mdId" autocomplete="on" placeholder="기간을 선택 하세요" value="기간을 선택 하세요">      
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-color: #ffffff;"  class="d-flex align-content-center">
                                                <label for="브랜드코드/브랜드명" class="modalBasicFont mt-2">브랜드코드/브랜드명</label>
                                    
                                            </td>
                                            
                                            <td style="border-color: #ffffff;"  class="">
                                                    <input class="form-control" id="mdId" type="text" name="mdId" autocomplete="on" placeholder="기간을 선택 하세요" value="기간을 선택 하세요">      
                                            </td>
                                            <td style="border-color: #ffffff;"  class="">
                                                <input class="form-control" id="mdId" type="text" name="mdId" autocomplete="on" placeholder="기간을 선택 하세요" value="기간을 선택 하세요">      
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border-color: #ffffff;"  class="d-flex align-content-center">
                                                <label for="기준" class="modalBasicFont mt-2">상품코드</label>
                                            </td>
                                            <td colspan="2" style="border-color: #ffffff;">
                                                <textarea class="form-control" style="height:85px" id="mdId" type="text" name="mdId" autocomplete="on"> </textarea>
                                            </td>
                                        </tr>
                                    </tbody>
                                <!-- 나가는 버튼 여기다 생성하기 -->
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <!-- <span aria-hidden="true">&times;</span> -->
                                        <img src="/images/modalImages/closeIcon.png">
                                    </button>    
                                </table>
                                <div style=" width: 100%;
                                height: 1px;
                                background-color: rgba(27, 35, 52, 0.08);">
                                </div>



                                <table class="table  modalTableBorderStyle">
                                    <tbody>
                                        <tr>
                                            <th row="2" style="border-color: #ffffff; width:165px">
                                                <label for="기준" class="modalBasicFont mt-2 width:100px;">노출항목</label>
                                            </th>
                                            <td colspan="2" style="border-color: #ffffff;">
                                                <div class="form-check custom-control custom-checkbox" style="margin-top:7px;">
                                                    <input type="checkbox"  class="custom-control-input" id="priceItem" name="show_type[]" value="priceItem" checked>
                                                    <label for="priceItem" class="checkBoxFont custom-control-label" style="padding:2px 0px 0px 0px;">판매가</label>                               
                                                </div>
                                                <div class="form-check custom-control custom-checkbox"style="margin-top:10px;">
                                                    <input type="checkbox"  class="custom-control-input" id="uv" name="show_type[]" value="priceItem" checked>
                                                    <label for="uv" class="checkBoxFont custom-control-label" style="padding:2px 0px 0px 0px;">UV</label>                               
                                                </div>
                                            </td>
                                            <td colspan="2" style="border-color: #ffffff;">
                                                <div class="form-check custom-control custom-checkbox"style="margin-top:7px;">
                                                    <input type="checkbox"  class="custom-control-input" id="venderPrice" name="show_type[]" value="priceItem" checked>
                                                    <label for="venderPrice" class="checkBoxFont custom-control-label" style="padding:2px 0px 0px 0px;">업체지급액</label>                               
                                                </div>
                                                <div class="form-check custom-control custom-checkbox"style="margin-top:10px;">
                                                    <input type="checkbox"  class="custom-control-input" id="cr" name="show_type[]" value="priceItem" checked>
                                                    <label for="cr" class="checkBoxFont custom-control-label" style="padding:2px 0px 0px 0px;">CR</label>                               
                                                </div>
                                            </td>
                                            <td colspan="2" style="border-color: #ffffff;">
                                                <div class="form-check custom-control custom-checkbox"style="margin-top:7px;">
                                                    <input type="checkbox"  class="custom-control-input" id="marginRate" name="show_type[]" value="priceItem" checked>
                                                    <label for="marginRate" class="checkBoxFont custom-control-label" style="padding:2px 0px 0px 0px;">마진율</label>                               
                                                </div>
                                                <div class="form-check custom-control custom-checkbox"style="margin-top:10px;">
                                                    <input type="checkbox"  class="custom-control-input" id="freeDelv" name="show_type[]" value="priceItem" checked>
                                                    <label for="freeDelv" class="checkBoxFont custom-control-label" style="padding:2px 0px 0px 0px;">무료배송</label>                               
                                                </div>
                                            </td>
                                            <td  colspan="2" style="border-color: #ffffff;">
                                                <div class="form-check custom-control custom-checkbox"style="margin-top:7px;">
                                                    <input type="checkbox"  class="custom-control-input" id="totalOrderQt" name="show_type[]" value="priceItem" checked>
                                                    <label for="totalOrderQt" class="checkBoxFont custom-control-label" style="padding:2px 0px 0px 0px;">총주문수량</label>                               
                                                </div>
                                                <div class="form-check custom-control custom-checkbox"style="margin-top:10px;">
                                                    <input type="checkbox"  class="custom-control-input" id="pureOrdPrice" name="show_type[]" value="priceItem" checked>
                                                    <label for="pureOrdPrice" class="checkBoxFont custom-control-label" style="padding:2px 0px 0px 0px;">순주문금액</label>                               
                                                </div>
                                            </td>
                                            <td  colspan="2" style="border-color: #ffffff;">
                                                <div class="form-check custom-control custom-checkbox"style="margin-top:7px;">
                                                    <input type="checkbox"  class="custom-control-input" id="totalOrderPrice" name="show_type[]" value="priceItem" checked>
                                                    <label for="totalOrderPrice" class="checkBoxFont custom-control-label" style="padding:2px 0px 0px 0px;">총주문금액</label>                               
                                                </div>
                                                <div class="form-check custom-control custom-checkbox"style="margin-top:10px;">
                                                    <input type="checkbox"  class="custom-control-input" id="expctSalAmt" name="show_type[]" value="priceItem" checked>
                                                    <label for="expctSalAmt" class="checkBoxFont custom-control-label" style="padding:2px 0px 0px 0px;">예상취급액</label>                               
                                                </div>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            <!-- </div>  -->
                        </div>
                        <div class="modalBlank" style="height:15px"></div>                         
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-5 d-flex align-content-center">
                                    <a class="detailOptionBtn btn btn-link" href="#" >자세히 알아보기</a>
                                </div>

                                <div class="col d-flex align-content-center flex-row-reverse flex-wrap">
                                    <a href="#" class="btn btn-primary btn-lg active" role="button"style="
                                        font-family: SFProText;
                                        font-size: 14px;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 1.47;
                                        letter-spacing: -0.4px;
                                        color: #ffffff;">
                                        검색
                                    </a>
                                    <a href="#" class="btn btn-outline-light" role="button"style="
                                        font-family: SFProText;
                                        font-size: 14px;
                                        font-weight: normal;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 1.43;
                                        letter-spacing: -0.37px;
                                        text-align: center;
                                        color: #1b2334;
                                        margin-right:12px;">
                                        재설정
                                    </a>
                                </div>


                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        
      

        

        <div class="container-fluid">
            <div class="row">
                <div class="optionNav col-12 d-flex align-content-center">
                    <ul class="nav col-5 d-flex align-content-center flex-row flex-wrap">
                        <li class="optionBtn nav-item" style="margin-left:10px">
                            <a class="nav-link active" href="#">기본 이미지 보기</a>
                        </li>
                        <li class="optionBtn nav-item" style="margin-left:8px">
                            <a class="nav-link" href="#">모바일 배너로 보기</a>
                        </li>
                    </ul>

                    <ul class="nav col d-flex align-content-center flex-row-reverse flex-wrap">
                        <li class="optionNavRightBtn nav-item" style="margin-left:10px">
                            <a class="nav-link active" href="#">
                                    <img src="/images/secondBarImages/excelIcon.png" style="margin-bottom: 2px;"> 엑셀 다운로드 </a>
                        </li>
                        <li class="optionNavRightBtn nav-item" style="margin-left:8px">
                            <a class="nav-link" href="#">
                                    <img src="/images/secondBarImages/camera.png" style="margin-bottom: 2px;"> 화면 캡쳐 </a>
                        </li>
                    </ul>     
                </div>
                <!-- 하단 옵션   background-color: #eef1f7;-->
            </div>
        </div>

        <div class="container-fluid">
                <!--해당자료 참고하고 수정하기 https://getbootstrap.com/docs/4.1/components/badge/ -->
            <div class="row" style="padding-bottom:10px;">
                <div class="detailOptionNav col-12 d-flex align-content-center">
                    <ul class="nav col-5 nav-pills nav-fill d-flex align-content-center flex flex-wrap">
                        <a class="detailOptionBtn nav-link" href="#">판매량순</a>
                        <a class="detailOptionBtn text-sm-center nav-link" href="#">업체순</a>
                        <a class="detailOptionBtn nav-link" href="#" >브랜드순</a>
                        <a class="detailOptionBtn nav-link" href="#" >지금베스트순</a>
                        <a class="detailOptionBtn nav-link" href="#" >UV</a>
                        <a class="detailOptionBtn nav-link" href="#" >CR</a>
                    </ul>
    
                    <!--해당자료 참고하고 수정하기 https://getbootstrap.com/docs/4.1/components/dropdowns/ -->
                    <div class="detailOptionNav col d-flex align-content-center flex-row-reverse flex-wrap">
                        <div class ="col-2">
                            <select class="custom-select">
                                <option value="50">50 개씩 보기</option>
                                <option value="100">100 개씩 보기</option>
                                <option value="200">200 개씩 보기</option>
                                <option value="300">300 개씩 보기</option>
                            </select>    
                        </div>
                        <div class ="col-2">
                            <select class="custom-select">
                                <option value="50">50 개씩 보기</option>
                                <option value="100">100 개씩 보기</option>
                                <option value="200">200 개씩 보기</option>
                                <option value="300">300 개씩 보기</option>
                            </select>    
                        </div>    
                    </div>      
                </div>
            </div>
        </div>
        
        <div id="cardContainer" class="container-fluid">
            <div id="cardTable" class ="col-12 d-flex align-content-center">
                <div class="row">
                     <!--카드 대크---------------------------------------->
                    <div id="cardSet" class="card-deck mr-0 ml-0 flex-grow-1 d-flex align-items-center flex-wrap">
                        <div class="card cardBackground flex-shrink-0 container-fluid">
                            <div class="row" style="padding-top:5px">
                                <a class="col-4 d-flex align-self-center" href="#" style = "height: 96px; align-items: center;">
                                    <img src="/images/cardImages/sample.png" class="cardImage">
                                </a>
                                <div class="col">
                                    <div class="row" style="margin-top: 10px"> <div class="col cardProductCode"> 상품코드 : 99999999</div> </div>
                                    <div class="row"> <div class="col cardCompanyName"> 올리비아비 / 주식회사 세정글로벌</div></div>
                                    <div class="row"> <div class="col cardProductName"> [몬테밀라노] 몬테밀라노 </div></div>
                                    <div class="row"> <div class="col cardProductSubName"> [OLIVIA.B] 레인 드롭 후드...</div></div>
                                </div>    
                            </div>
                            
                            <div class ="row"> <div class="col topDivider"></div></div>

                            <div class="row">
                                <div class="cardPriceMessage col-5">
                                    판매가
                                </div>
                                <div class="cardPrice col d-flex align-items-center flex-row-reverse flex-wrap">
                                    17,9000원
                                </div>
                            </div>
                            <div class="topDivider"></div>

                            <div class="container mt-2">
                                <div class="row">
                                    <div class="col-6 cardDetailInfoBox">
                                        <div class ="subUpperMessage row">업체지급액 </div>
                                        <div class ="subPriceAndRate row">40,000원 </div>
                                    </div>
                                    <div class="col-6 cardDetailInfoBox">
                                        <div class ="subUpperMessage row">마진율 </div>
                                        <div class ="subPriceAndRate row">15% </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 cardDetailInfoBox">
                                        <div class ="subUpperMessage row">주문수량 </div>
                                        <div class ="subPriceAndRate row">3,477개 </div>
                                    </div>
                                    <div class="col-6 cardDetailInfoBox">
                                        <div class ="subUpperMessage row">총주문금액 </div>
                                        <div class ="subPriceAndRate row">201,007,371원 </div>
                                    </div>
                                </div>  
                                <div class="row">
                                    <div class="col-6 cardDetailInfoBox">
                                        <div class ="subUpperMessage row">순주문금액 </div>
                                        <div class ="subPriceAndRate row">201,007,371원 </div>
                                    </div>
                                    <div class="col-6 cardDetailInfoBox">
                                        <div class ="subUpperMessage row">예상취급액 </div>
                                        <div class ="subPriceAndRate row">108,314,820원 </div>
                                    </div>
                                </div>  
                                <div class="row">
                                    <div class="col-6 cardDetailInfoBox">
                                        <div class ="subUpperMessage row">누적UV </div>
                                        <div class ="subPriceAndRate row">201,007,371 </div>
                                    </div>        
                                    <div class="col-6 cardDetailInfoBox">
                                        <div class ="subUpperMessage row">누적CR </div>
                                        <div class ="subPriceAndRate row">30.42% </div>
                                    </div>        
                                </div>
                            </div>
                            <div class ="row"> <div class="col topDivider"></div></div>
                            <div class="row">
                                <div class="warningMessage col-6">
                                    <img src="/images/cardImages/warningIcon.png" class="warningImage">
                                    일부 속성 품절                     
                                </div>
                                <div class="col-6 d-flex align-items-center flex-row-reverse flex-wrap">
                                    <a href=# class="contactLabel">연락하기</a>
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
        



        <!--SCRIPT-->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/javascripts/index.js"></script>
        <script src="/javascripts/modalControl.js"></script>
        <script src="/javascripts/dateRangePicker.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    
    </body>
</html>


<!-- <nav class="navbar" id="topBar">
                <span id="logoSpace">
                    <img src = "/images/topBarImages/logo-space.png">
                </span>
                <span>
                    
                </span>
                <span>
            </nav> -->
 